@import './utils/variables';
@import './utils/mixins';
@import './utils/animations';

@import './vendor/include-media';
@import './vendor/im-columns';
@import './vendor/fontello-icons';

@import './base/reset';
@import './base/fonts';

@import './layout/layout';

html, body{
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}

[onclick], .u-clickable {
  cursor: pointer;
}

.App{
  min-height: 100%;
}