// Shades of gray
$white: #FFF;
$off-white: #F9F9F9;
$gray--lightest: #E0E0E0;
$gray--light: #bdbdbd;
$gray: #616161;
$gray--dark: #424242;
$gray--darkest: #333333;
$black: #000;

// Site colors
$color__background-one: $white;
$color__background-two: #FAF7F3;